.contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado {
    position: absolute;
    margin-top: -48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    border-radius: none;
}

.card {
    position: absolute;
    margin-top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#c {
    position: absolute;
    width: 100%;
    margin-top: -10%;
}

#h {
    position: absolute;
    width: 50%;
    margin-top: -11%;
    margin-left: 50%;
}

#totalpoints {
    position: absolute;
    margin-top: -45%;
    margin-left: 10%;
}

#totalpoints input {
    margin-bottom: 35%;
}

#games {
    position: absolute;
    margin-top: -60%;
    margin-left: 88%;
}

#games input {
    margin-bottom: 10%;
}

button {
    border-radius: 50px;
}

.value-inp {
    z-index: 100;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 40px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
}