<div class="container">
    <div class="row">
        <div class="col-md-12" *ngIf="showMainForm">
            <h3 class="text-white" id="tableLabel">Iniciar Partida</h3>
            <h4 class="text-white">Se requiere un nombre antes de iniciar la partida porfavor proceda a agregarlo</h4>
            <div *ngIf="showForm">
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-white" for="">Nombre del Jugador:</label>
                        <input type="text" class="form-control" [(ngModel)]="user.username"><br>
                    </div>
                    <div class="col-md-6">
                        <label class="text-white" for="">Monto Inicial:</label>
                        <input type="number" class="form-control" [(ngModel)]="user.total_money"><br>
                    </div>
                    <button class="btn btn-primary m-2" (click)="saveUser()">Guardar</button>
                    <button class="btn btn-danger m-2" (click)="showForm = false">Cancelar</button>
                </div>
            </div>

            <button *ngIf="!showForm" class="btn btn-success m-2" (click)="showForm = true">Agregar Nombre</button>
        </div>
        <div [@listAnimation]="itemsplayer.length" (@listAnimation.start)="logAnimation($event)" (@listAnimation.done)="logAnimation($event)">
            <div class="col-md-12 text-black" *ngIf="showBoard">
                <div class="contenedor">
                    <img src="https://pharaohusa.com/staging/wp-content/uploads/2017/09/blackjack-layout-1-green.png" width="100%" height="100%" />
                    <div class="texto-encima text-black">{{user.username}}</div>

                    <div class="centrado2 row" *ngIf="starGame">
                        <input type="text" class="value-inp" [(ngModel)]="totalpointsPlayer" name="totalPlayer" readonly />
                        <div class="col-md-2" *ngFor="let item of itemsplayer">
                            <div class="card" style="width: 5rem;">
                                <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                            </div>
                        </div>
                    </div>

                    <div class="centrado row" *ngIf="starGame">
                        <input type="text" class="value-inp" [(ngModel)]="totalpointsCrupier" name="totalCrupier" readonly />
                        <div class="col-md-2" *ngFor="let item of itemsCrupier ">
                            <div class="card" style="width: 5rem;">
                                <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                    <div id="c" class="row" *ngIf="starGame">
                        <div class="col-md-2 mt-3">
                            <button class="btn btn-primary" (click)="dealOption()" *ngIf="deal">Deal</button>
                        </div>
                        <div class="col-md-2 mt-3">
                            <button class="btn btn-primary" (click)="hitOption()" *ngIf="!deal">HIT</button>
                        </div>
                        <div class="col-md-2 mt-3">
                            <button class="btn btn-primary" (click)="standOption()" *ngIf="!deal">STAND</button>
                        </div>
                    </div>
                    <div id="h" class="row">
                        <div class="col-md-6">
                            <button class="btn btn-warning" (click)="initGame()" *ngIf="hiddenStart"> Comenzar</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-warning" (click)="wager(-25)"><strong>$25</strong></button>
                            <br />
                            <button class="btn btn-warning" (click)="mixCards()">Revolver cartas</button>
                            <br />
                            <input type="number" class="form-control" value="{{user.total_money}}" disabled />
                        </div>

                    </div>

                    <div class="row">
                        <div id="games" class="col-md-6">
                            <div class="col-md-3">
                                <label class="text-white"><strong>Partidas Ganadas</strong></label>
                                <input type="text" class="form-control text-center" [(ngModel)]="gameswon" name="gameswon" disabled />
                            </div>
                            <div class="col-md-3">
                                <label class="text-white"><strong>Partidas Perdidas</strong></label>
                                <input type="text" class="form-control text-center" [(ngModel)]="lostGames" name="lostGames" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>