<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="contenedor" style="text-align: center;">
                <div class="texto-encima text-white">BOUNDS GAMES <br> PRESENTA
                </div>
                <img src="https://www.wintoblackjack.com/assets/images/logo-officiel.png" width="40%" height="40%" />
                <div class="centrado text-white mt-3"><a class="btn btn-danger" [routerLink]="['/deck']">COMENZAR JUEGO</a></div>
            </div>
        </div>
    </div>

</div>